QueryDataService.wsdl.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.znv.com.cn/"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.znv.com.cn/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://www.znv.com.cn/">
			<s:element name="isAlive">
				<s:complexType />
			</s:element>
			<s:element name="isAliveResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="isAliveResult"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="QuertyStationConfig">
				<s:complexType />
			</s:element>
			<s:element name="QuertyStationConfigResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="QuertyStationConfigResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="QueryStationRealData">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="opDeviceInfo"
							type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="QueryStationRealDataResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1"
							name="QueryStationRealDataResult" type="s:string" />
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="isAliveSoapIn">
		<wsdl:part name="parameters" element="tns:isAlive" />
	</wsdl:message>
	<wsdl:message name="isAliveSoapOut">
		<wsdl:part name="parameters" element="tns:isAliveResponse" />
	</wsdl:message>
	<wsdl:message name="QuertyStationConfigSoapIn">
		<wsdl:part name="parameters" element="tns:QuertyStationConfig" />
	</wsdl:message>
	<wsdl:message name="QuertyStationConfigSoapOut">
		<wsdl:part name="parameters" element="tns:QuertyStationConfigResponse" />
	</wsdl:message>
	<wsdl:message name="QueryStationRealDataSoapIn">
		<wsdl:part name="parameters" element="tns:QueryStationRealData" />
	</wsdl:message>
	<wsdl:message name="QueryStationRealDataSoapOut">
		<wsdl:part name="parameters" element="tns:QueryStationRealDataResponse" />
	</wsdl:message>
	<wsdl:portType name="QueryDataServiceSoap">
		<wsdl:operation name="isAlive">
			<wsdl:input message="tns:isAliveSoapIn" />
			<wsdl:output message="tns:isAliveSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="QuertyStationConfig">
			<wsdl:input message="tns:QuertyStationConfigSoapIn" />
			<wsdl:output message="tns:QuertyStationConfigSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="QueryStationRealData">
			<wsdl:input message="tns:QueryStationRealDataSoapIn" />
			<wsdl:output message="tns:QueryStationRealDataSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="QueryDataServiceSoap" type="tns:QueryDataServiceSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="isAlive">
			<soap:operation soapAction="http://www.znv.com.cn/isAlive"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QuertyStationConfig">
			<soap:operation soapAction="http://www.znv.com.cn/QuertyStationConfig"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QueryStationRealData">
			<soap:operation soapAction="http://www.znv.com.cn/QueryStationRealData"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="QueryDataServiceSoap12" type="tns:QueryDataServiceSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="isAlive">
			<soap12:operation soapAction="http://www.znv.com.cn/isAlive"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QuertyStationConfig">
			<soap12:operation soapAction="http://www.znv.com.cn/QuertyStationConfig"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QueryStationRealData">
			<soap12:operation soapAction="http://www.znv.com.cn/QueryStationRealData"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="QueryDataService">
		<wsdl:port name="QueryDataServiceSoap" binding="tns:QueryDataServiceSoap">
			<soap:address location="http://localhost:1771/QueryDataService.asmx" />
		</wsdl:port>
		<wsdl:port name="QueryDataServiceSoap12" binding="tns:QueryDataServiceSoap12">
			<soap12:address location="http://localhost:1771/QueryDataService.asmx" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>